# -*- python -*-

import lsst.sconsUtils

dependencies = {
    "required": ["boost"],
}

config = lsst.sconsUtils.ExternalConfiguration(
    __file__,
    headers=["boost/program_options.hpp"],
    libs=["boost_program_options"],
    eupsProduct="boost",
)
